@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--Light-grayish-cyan);
  padding: 0;
  margin: 0;
  font-family: var(--font);
}

:root {
  --font: "Space Mono", monospace;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  line-height: 1.1;
  margin: 0;
  color: var(--Dark-grayish-cyan);
}

h2 {
  font-size: 1.0625rem;
}

p {
  margin: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

:root {
  --Strong-cyan: hsl(172, 67%, 45%);
  --Very-dark-cyan: hsl(183, 100%, 15%);
  --Dark-grayish-cyan: hsl(186, 14%, 43%);
  --Grayish-cyan: hsl(184, 14%, 56%);
  --Light-grayish-cyan: hsl(185, 41%, 84%);
  --Very-light-grayish-cyan: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
}

@media (min-width: 56.25em) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
  }
}

.title {
  background-color: var(--Light-grayish-cyan);
  text-align: center;
  margin: 2.3rem 0;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 1.875rem;
  background-color: var(--White);
  border-radius: 1.5625rem;
}
@media (min-width: 56.25em) {
  .main {
    flex-direction: row;
    max-width: 59.375rem;
  }
}

.input__bill {
  color: var(--Dark-grayish-cyan);
  display: block;
  position: relative;
}
.input__bill img {
  position: absolute;
  top: 2.375rem;
  left: 1.25rem;
  z-index: 9;
}
.input__tip {
  display: grid;
  grid-template: repeat(4, 3rem)/repeat(2, 1fr);
  gap: 1.125rem;
}
.input__tip h2 {
  margin-top: 2.1875rem;
  grid-column: 1/3;
}
.input__tip--number {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Very-dark-cyan);
  color: var(--White);
  border-radius: 0.3125rem;
}
.input__tip--number p {
  font-size: 1.5625rem;
}
.input__tip--number:hover {
  cursor: pointer;
  background-color: var(--Strong-cyan);
}
.input__tip--number:focus {
  background-color: var(--Strong-cyan);
}
.input__tip--input {
  height: 3rem;
}
.input__people {
  margin-top: 2.1875rem;
  color: var(--Dark-grayish-cyan);
  position: relative;
}
.input__people img {
  position: absolute;
  top: 2.375rem;
  left: 1.25rem;
  z-index: 9;
}
.input__people--error {
  display: none;
  color: red;
  position: absolute;
  right: 0;
}
.input__people--error-active {
  display: inline-block;
}
.input__error {
  border: 2px solid red;
}
@media (min-width: 56.25em) {
  .input {
    width: 31.25rem;
    margin: 1.25rem 0.625rem;
  }
  .input__tip {
    grid-template: repeat(3, 1fr)/repeat(3, 1fr);
  }
  .input__tip h2 {
    grid-column: 1/-1;
  }
}

input {
  width: 100%;
  height: 2.8rem;
  border-radius: 0.3125rem;
  border: none;
  background-color: var(--Very-light-grayish-cyan);
  font-size: 1.5625rem;
  font-family: var(--font);
  color: var(--Very-dark-cyan);
  text-align: end;
  padding-right: 0.9375rem;
}

input:hover {
  cursor: pointer;
}

input:focus {
  outline: none !important;
  border: 2px solid var(--Strong-cyan);
}

.output {
  margin-top: 1.8rem;
  border-radius: 15px;
  padding: 2.5rem 1.5625rem 1.25rem 1.5625rem;
  background-color: var(--Very-dark-cyan);
}
.output__tip {
  display: grid;
  grid-template: 50px/1fr 1fr;
}
.output h3 {
  color: var(--White);
  font-size: 1rem;
}
.output h3 span {
  font-size: 0.8rem;
  color: var(--Dark-grayish-cyan);
}
.output h4 {
  color: var(--Strong-cyan);
  font-size: 2.1875rem;
  justify-self: end;
  align-self: center;
}
.output__total {
  display: grid;
  grid-template: 50px/1fr 1fr;
  margin-top: 1.25rem;
}
.output__reset {
  margin-top: 1.25rem;
}
.output__reset--button {
  background-color: var(--Dark-grayish-cyan);
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 2.8rem;
  font-size: 1.35rem;
  font-family: var(--font);
  color: var(--Grayish-cyan);
}
.output__reset--button:hover {
  background-color: var(--Strong-cyan);
  cursor: pointer;
}
@media (min-width: 56.25em) {
  .output {
    margin: 0;
    position: relative;
    width: 350px;
  }
  .output__reset {
    position: absolute;
    bottom: 20px;
    width: 18.75rem;
  }
}/*# sourceMappingURL=style.css.map */