@charset "UTF-8";

html {
  box-sizing: border-box;
  font-size: 100%;
  font-family: var(--font-Barlow);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  color: black;
  background-color: white;
  font-size: 18px;
}
